#clock
{
    font-size: 140px;
    width: 60%;
    margin: 10%;
    text-align: center;
    border: 2px solid #000000;
    box-shadow: 3px 5px 16px 20px #ac762d;
    border-radius: 20px;
    color: #ac762d;
    font-family: digital;
}
@font-face {
    font-family: digital;
    src: url("../fonts/digital-7/digital-7\ \(mono\ italic\).ttf");
}
body
{
    background-color: #000000;
}